.container {
  font-size: 15px;
}

.header--navbar {
  .logodiv {
    display: flex;
    align-content: center;

    img {
      margin-right: 20px;
    }
  }
}

.howtorecord,
.record,
.divUploading,
.divuploadDone {

  border: $color-white solid 1px;
  border-right: $color-windows-darkerborder solid 1px;
  border-bottom: $color-windows-darkerborder solid 1px;

  margin: 0 auto;
  text-align: left;

  margin-top: 50px;
  margin-bottom: 150px;

  h2 {
    padding: 5px;
    font-size: 14px;
    color: $color-white;
  }
}

