.gifsgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px; 
  position: relative;
  width:  1030px;

  .gifcontainer {
    text-align: left;
    margin: 3px;
    height: 250px;
    position: relative;   
    border: 2px $color-windows solid;
    border-top: 2px $color-white solid;

    .giftext {
      padding: 3px;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px $color-white solid;
      @extend %gradient;
      color: $color-white;      
      font-size: 13px;
      font-weight: 600;
      height: 30px;
    }

    .gif {
      width: 245px;
      height: 245px;
      background: $activepink;
    }

    .giflarge {
      width: 500px;
      height: 245px;
      background: $gradient-pink;
    }
  }
}


#gifsResults, #migifs {
  .gifsgrid {
    .gifcontainer {         
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: none !important;
      }

      &:hover {
        footer {
          display: block !important;
        }
      }
    }
  }
}
