.welcome {
  border-bottom: black solid 1px;
  color: $color-white;
  font-family: $font-primary;
  font-size: 13px;
  padding: 4px;

  div {
    margin: 0 auto;
  }
}

.header--navbar {
  height: 100px;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;

  justify-content: space-between;

  &--menu {
    position: relative;
    border: 1px solid #d8d8db00;
    display: flex;

    li {
      margin-left: 10px;
    }

    .chooseThemeDiv {
      button {
        margin-left: 0;
      }

      #chooseThemeButtonB {
        width: 33px;
      }
    }

    .themesDiv {
      width: 157px;
      display: none;
      position: absolute;
      z-index: 9;
      text-align: center;

      button {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .header {
    &--navbar {
      // background-color: white;
      flex-direction: column;
      padding: 10px;
      height: auto;
    }
  }
}

@media only screen and (min-width: 1030px) {
  .welcome div {
    max-width: 1400px;
  }
}